Source: ros-foxy-mrpt2
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ffmpeg, freeglut3-dev, libassimp-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libeigen3-dev, libfreenect-dev, libglfw3-dev, libjpeg-dev, libjsoncpp-dev, libopencv-dev, libopenni2-dev, libpcap0.8-dev, libsuitesparse-dev, libswscale-dev, libtinyxml2-dev, libudev-dev, libusb-1.0-0-dev, libwxgtk3.0-gtk3-dev, libxrandr-dev, libxxf86vm-dev, ros-foxy-cv-bridge, ros-foxy-geometry-msgs, ros-foxy-nav-msgs, ros-foxy-octomap, ros-foxy-pcl-conversions, ros-foxy-rosbag2-storage, ros-foxy-sensor-msgs, ros-foxy-std-msgs, ros-foxy-stereo-msgs, ros-foxy-tf2, ros-foxy-tf2-msgs, wx-common, zlib1g-dev, ros-foxy-ros-workspace
Homepage: https://www.mrpt.org/
Standards-Version: 3.9.2

Package: ros-foxy-mrpt2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, freeglut3-dev, libeigen3-dev, libglfw3-dev, libsuitesparse-dev, libxrandr-dev, libxxf86vm-dev, ros-foxy-geometry-msgs, ros-foxy-nav-msgs, ros-foxy-sensor-msgs, ros-foxy-std-msgs, ros-foxy-stereo-msgs, ros-foxy-tf2, ros-foxy-tf2-msgs, ros-foxy-ros-workspace
Description: Mobile Robot Programming Toolkit (MRPT) version 2.x
